
<div id="messages" class="container-fluid" style="margin: 0px;padding:0px">
  <div class="row" style="height: 100%">
    <div class="col-12" style="height:100%;padding: 0px">
        <ul class="list-inline" style="height: 100%;width: 100%; margin:0px">

          <li *ngFor="let message of messages" style="width: 22%;height: 100%; margin-top:0px;padding-top: 0;padding-right: 10px">

            <div *ngIf="message.type == 'smallpack'" class="profile-card text-center message_image" style="height: 100%;width:100%;float: left" [ngStyle]="{'background-image': 'url(' + message?.image + ')'}">
                <div class="profile-info">

                    <h2 >{{message?.stext}}<span>{{message?.ltext}}</span></h2>

                </div>
            </div>

            <div *ngIf="message.type == 'message'" style="height: 100%;width: 100%;float: left">
              <div class="block-text">
                <a title="" href="#">¡Gracias por participar!</a>

              </div>
              <div class="person-text">
                <img class="img-circle" src="{{(message.image)?message.image:'./assets/images/avatar.jpg'}}">
                <a title="" href="#">{{message?.stext}}</a>
                <i> ha participado en : {{message?.ltext}}</i>
              </div>
            </div>


          </li>
        </ul>
    </div>
  </div>
</div>





